# django
SECRET_KEY="your_secret_key generated with django secret key command"

ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost

# database
POSTGRES_DB="ranobedays"
POSTGRES_USER="test"
POSTGRES_PASSWORD="qwdqwd"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@0.0.0.0:5432/"

# google oauth
GOOGLE_CLIENT_ID="google client id"
GOOGLE_CLIENT_SECRET="google client secret"
GOOGLE_CLIENT_PROJECT_ID="ranobedays-test"

#email
EMAIL_HOST=""
EMAIL_USE_TLS=""
EMAIL_PORT=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
DEFAULT_FROM_EMAIL=""

